ANALISIS DATA PENJUALAN PRODUK CETAKAN MENGGUNAKAN PYTHON DENGAN LIBRARY PANDAS

Nama   : Vina

Produk : FoodpakMatte245

Soal:
1. Hitung rata-rata penjualan dari produk FoodpakMatte245!
2. Di tanggal berapakah transaksi termahal terjadi?
3. Berapakah jumlah orderan terbanyak di produk FoodpakMatte245?
4. Berapa nilai terendah dari total pembelian yang terjadi di bulan 10 tahun 2023?
5. Di tanggal berapa nilai harga FoodpakMatte245 tertinggi?

In [2]:
# Import library pandas
import pandas as pd

In [3]:
# Import dataset
df=pd.read_csv("data_penjualan.csv",delimiter=";")
df

         Tanggal      Jenis Produk  Jumlah Order  Harga    Total
0     05/08/2022        Foodpak260          1000   1800  1800000
1     05/08/2022   FoodpakMatte245          1000   1900  1900000
2     05/08/2022  CraftLaminasi290          5000    750  3750000
3     05/08/2022  CraftLaminasi290          1000   1200  1200000
4     07/08/2022        Dupleks310          1000   1550  1550000
...          ...               ...           ...    ...      ...
1071  14/11/2023          Ivory230          1000    900   900000
1072  15/11/2023  CraftLaminasi290          2000    800  1600000
1073  15/11/2023  CraftLaminasi290          1500    875  1312500
1074  15/11/2023      FoodpakMatte          1000   2200  2200000
1075  15/11/2023       GreaseProof          1000    300   300000

[1076 rows x 5 columns]

In [4]:
# Memfilter dataset untuk menampilkan produk 'FoodpakMatte245'
fm=df[df["Jenis Produk"]=="FoodpakMatte245"].copy()
fm

         Tanggal     Jenis Produk  Jumlah Order  Harga    Total
1     05/08/2022  FoodpakMatte245          1000   1900  1900000
37    18/08/2022  FoodpakMatte245          1000   1800  1800000
92    19/09/2022  FoodpakMatte245          2500    700  1750000
362   06/01/2023  FoodpakMatte245          1000   1500  1500000
371   06/01/2023  FoodpakMatte245          4000   1000  4000000
385   01/02/2023  FoodpakMatte245          1000    900   900000
388   01/02/2023  FoodpakMatte245          1000   1600  1600000
397   09/02/2023  FoodpakMatte245          1000   1200  1200000
430   19/02/2023  FoodpakMatte245          2000   1500  3000000
447   06/03/2023  FoodpakMatte245          2000   1500  3000000
482   23/03/2023  FoodpakMatte245          5000   1500  7500000
483   23/03/2023  FoodpakMatte245          4000   1050  4200000
493   28/03/2023  FoodpakMatte245          3000   1200  3600000
494   29/03/2023  FoodpakMatte245          3500   1200  4200000
495   29/03/2023  FoodpakMatte245          1000   1200  1200000
500   03/04/2023  FoodpakMatte245          3000   1500  4500000
512   10/04/2023  FoodpakMatte245          1000   1200  1200000
518   13/04/2023  FoodpakMatte245          3500   1000  3500000
534   25/04/2023  FoodpakMatte245          5000   1500  7500000
576   06/05/2023  FoodpakMatte245          5000   1500  7500000
579   08/05/2023  FoodpakMatte245          1000   1800  1800000
592   17/05/2023  FoodpakMatte245          1000    850   850000
614   26/05/2023  FoodpakMatte245          6000   1100  6600000
624   31/05/2023  FoodpakMatte245          3000   1500  4500000
631   03/06/2023  FoodpakMatte245          1000   1200  1200000
670   16/06/2023  FoodpakMatte245          2000   1500  3000000
680   23/06/2023  FoodpakMatte245          2000   1000  2000000
681   26/06/2023  FoodpakMatte245          1000   1500  1500000
682   26/06/2023  FoodpakMatte245          3000   1500  4500000
732   15/07/2023  FoodpakMatte245          3000   1500  4500000
772   27/07/2023  FoodpakMatte245          2000   1000  2000000
775   31/07/2023  FoodpakMatte245          3000   1500  4500000
796   07/08/2023  FoodpakMatte245          2000   1000  2000000
801   07/08/2023  FoodpakMatte245          6000   1100  6600000
803   09/08/2023  FoodpakMatte245          1000   1500  1500000
829   20/08/2023  FoodpakMatte245          4000   1500  6000000
857   27/08/2023  FoodpakMatte245          1000   1500  1500000
875   31/08/2023  FoodpakMatte245          1000   1500  1500000
915   17/09/2023  FoodpakMatte245          2000   1000  2000000
939   26/09/2023  FoodpakMatte245          1000    600   600000
940   26/09/2023  FoodpakMatte245          1000   1100  1100000
977   12/10/2023  FoodpakMatte245          1000   1500  1500000
978   12/10/2023  FoodpakMatte245          4000   1500  6000000
985   14/10/2023  FoodpakMatte245           500   1500   750000
986   14/10/2023  FoodpakMatte245           500   1300   650000
994   18/10/2023  FoodpakMatte245          2000   1000  2000000
1002  20/10/2023  FoodpakMatte245          1000   2400  2400000
1010  24/10/2023  FoodpakMatte245          1000   1700  1700000
1029  30/10/2023  FoodpakMatte245          4000   1500  6000000
1031  31/10/2023  FoodpakMatte245          2000   1000  2000000
1035  03/11/2023  FoodpakMatte245          1000   1600  1600000
1036  03/11/2023  FoodpakMatte245          1000   1600  1600000
1039  03/11/2023  FoodpakMatte245          1000   1500  1500000
1049  07/11/2023  FoodpakMatte245          1000   1500  1500000

In [5]:
# Mengetahui informasi umum untuk data jenis produk 'FoodpakMatte245'
fm.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54 entries, 1 to 1049
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tanggal       54 non-null     object
 1   Jenis Produk  54 non-null     object
 2   Jumlah Order  54 non-null     int64
 3   Harga         54 non-null     int64
 4   Total         54 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.5+ KB

Terdapat 54 transaksi produk FoodpakMatte245.

1. Hitung rata-rata penjualan dari produk FoodpakMatte245!

In [9]:
# Rata-rata penjualan produk FoodpakMatte245
round(fm["Total"].mean(),2)

2861111.11

Rata-rata penjualan produk FoodpakMatte245 yaitu sebesar Rp 2.861.111,11.

2. Di tanggal berapakah transaksi termahal terjadi?

In [13]:
# Menampilkan hanya satu tanggal pertama terjadinya transaksi termahal
fm.loc[fm["Total"].idxmax(),"Tanggal"]

'23/03/2023'

In [14]:
# Cara lain untuk menampilkan tanggal transaksi termahal

# Mendefinisikan nilai maksimum
maks_total=fm["Total"].max()
maks_total

7500000

In [15]:
# Menampilkan seluruh tanggal dengan transaksi termahal
fm[fm["Total"]==maks_total]

        Tanggal     Jenis Produk  Jumlah Order  Harga    Total
482  23/03/2023  FoodpakMatte245          5000   1500  7500000
534  25/04/2023  FoodpakMatte245          5000   1500  7500000
576  06/05/2023  FoodpakMatte245          5000   1500  7500000

Terdapat tiga transaksi produk FoodpakMatte245 dengan total transaksi termahal sebesar Rp 7.500.000,00, yaitu pada tanggal 23 Maret 2023, 25 April 2023, dan 6 Juni 2023.

3. Berapakah jumlah orderan terbanyak di produk FoodpakMatte245?

In [19]:
# Jumlah order terbanyak produk FoodpakMatte245
fm["Jumlah Order"].max()

6000

Jumlah order terbanyak untuk produk FoodpakMatte245 yaitu sebanyak 6000 unit.

4. Berapa nilai terendah dari total pembelian yang terjadi di bulan 10 tahun 2023?

In [23]:
# Mengubah kolom 'Tanggal' menjadi format datetime
fm["Tanggal"]=pd.to_datetime(fm["Tanggal"],format="%d/%m/%Y")
fm["Tanggal"].info()

<class 'pandas.core.series.Series'>
Index: 54 entries, 1 to 1049
Series name: Tanggal
Non-Null Count  Dtype
--------------  -----
54 non-null     datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 2.9 KB

In [24]:
# Memfilter transaksi di bulan 10 tahun 2023
fm1023=fm[(fm["Tanggal"].dt.month==10) & (fm["Tanggal"].dt.year==2023)]
fm1023

        Tanggal     Jenis Produk  Jumlah Order  Harga    Total
977  2023-10-12  FoodpakMatte245          1000   1500  1500000
978  2023-10-12  FoodpakMatte245          4000   1500  6000000
985  2023-10-14  FoodpakMatte245           500   1500   750000
986  2023-10-14  FoodpakMatte245           500   1300   650000
994  2023-10-18  FoodpakMatte245          2000   1000  2000000
1002 2023-10-20  FoodpakMatte245          1000   2400  2400000
1010 2023-10-24  FoodpakMatte245          1000   1700  1700000
1029 2023-10-30  FoodpakMatte245          4000   1500  6000000
1031 2023-10-31  FoodpakMatte245          2000   1000  2000000

In [25]:
# Menampilkan transaksi terendah di bulan 10 tahun 2023
fm1023["Total"].min()

650000

Nilai terendah dari total pembelian yang terjadi di bulan 10 tahun 2023 yaitu sebesar Rp 650.000,00.

5. Di tanggal berapa nilai harga FoodpakMatte245 tertinggi?

In [29]:
# Menampilkan hanya satu tanggal pertama terjadinya harga tertinggi
fm.loc[fm["Harga"].idxmax(),"Tanggal"]

Timestamp('2023-10-20 00:00:00')

In [30]:
# Cara lain untuk menampilkan tanggal dengan harga tertinggi

# Mendefinisikan nilai maksimum harga
maks_harga=fm["Harga"].max()
maks_harga

2400

In [31]:
# Menampilkan tanggal dengan harga tertinggi
fm[fm["Harga"]==maks_harga]

        Tanggal     Jenis Produk  Jumlah Order  Harga    Total
1002 2023-10-20  FoodpakMatte245          1000   2400  2400000

Transaksi FoodpakMatte245 dengan harga tertinggi sebesar Rp 2.400,00 terjadi pada tanggal 20 Oktober 2023.